/*公共样式*/
h1 {
  padding: 12px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.hr {
  height: 2px;
  width: 100px;
  margin: 20px auto;
}

/*头部样式*/

.main-wrapper {
  background: url("../imgs/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /*避免屏幕缩小时出现空白区域*/
  overflow: hidden;
}
header {
  background: rgba(0, 0, 0, 0.4);
  margin-top: -20px;
}
nav ul li a {
  color: #eee
}
#banner {
  height: 750px;
}
#banner .inner {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 160px;
  color: #eee;
}
#banner .cv {
  border: none;
  background-color: #111;
  font-size: 18px;
  text-decoration: none;
  color: #ddd;
  position: relative;
  top: 30px;
  padding: 10px 30px;
  cursor: pointer;
  transition: all .5s ease;
}
#banner .cv:hover {
  background: #ddd;
  color: #111
}
#banner .inner .more{
  margin-top: 100px;
}
#banner div .more a {
  text-decoration: none;
  color: #fff;
}
#banner div .more a:hover {
  text-decoration: unde rline;
  color: #ddd;
}
.sub-heading {
  line-height: 30px;
  margin: 20px 0;
  font-size: 20px;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 20px;
  padding: 10px;
  color: rgba(255,255,255,0.8);
  text-decoration: none;
  float: left;
}
nav {
  float: right;
}

/*主题样式一*/

.green-section {
  background-color: rgba(79, 101, 123, 0.95);
  color: #fff;
  text-align: center;
  padding: 100px 0;
}
.green-section .wrapper {
  max-width: 1080px;
  margin: 0 auto;
}
.green-section .hr {
  background-color: #bbbaba;
  width: 60%;
}
.green-section .icon-group .icon {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: #3b4d5d;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  margin: 40px 40px;
}
.green-section .icon-group span:hover{
  background: #ddd;
}
.icon-group .icon a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 120px;
  text-decoration: none;
  color: #fff;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.icon-group .icon a:hover {
  color: #3b4d5d;
}
.icon-group {
  margin: 60px;
}

/*主题样式二*/

.gray-section {
  background-color: rgba(55,50,89,0.95);
  color: #fff;
}
.gray-section .img-section {
  padding: 0;
}
.gray-section .img-section img{
  height: 300px;
  width: 100%;
}
.text-section h3 a {
  color: #fff;
}
.text-section h3 a:hover {
  color: #111;
  text-decoration: none;
}
.article-preview:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.15);
}
.text-section p,.text-section ol,.text-section ul{
  font-size: 18px;
  letter-spacing: 1px;
}

/*主题样式三*/

/*.purple-section {
  padding: 80px;
  background-color: rgba(55,50,89,0.8);
  color: #ffffff;
}
.purple-section .heading-wrapper {
  text-align: center;
}
.purple-section .hr {
  background: #ddd;
  width: 60%;
}
.card-group:after {
  content: '';
  clear: both;
  display: block;
}
.card {
  float: left;
  width: 50%;
  min-height: 300px;
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card:first-child {
  background: rgba(0, 0, 0, 0.2);
}
.card:nth-child(2) {
  background: rgba(0, 0, 0, 0.4);
}
.card:nth-child(3) {
  background: rgba(0, 0, 0, 0.2);
}
.card:nth-child(4) {
  background: rgba(0, 0, 0, 0.4);
}
.card:nth-child(5) {
  background: rgba(0, 0, 0, 0.4);
}
.card:nth-child(6) {
  background: rgba(0, 0, 0, 0.2);
}
.purple-section .more {
  position: relative;
  top:20px;
  text-align: center;
}
.purple-section .more a {
  text-decoration: none;
  color: #fff;
}
.purple-section .more a:hover {
  text-decoration: underline;
  color: #ddd;
}*/

footer {
  background-color: rgba(0, 0, 0, 0.95);
  color: #ccc;
  min-height: 80px;
  text-align: center;
}
ul .share-group {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 100px;
}
.share-group li {
  display: inline-block;
  padding: 25px 20px 0px;
}
.share-group li a {
  color: #ccc;
}
.share-group li a:hover {
  color:#fff;
}
.copy {
  padding-bottom: 15px;
}
.copy p {
  font-size: 14px;
}